*{
    margin: 0px;
    padding: 0px
}
ul{
    list-style: none;
}
body{
    background-color: #0c1014;
    color: white;
    width: 90%;
    max-width: 960px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    letter-spacing: 3px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-top: 7px;
    align-items: center;
    background-color: #03030385;
}
.ul-container{
    display: flex;
    gap: 7px;

}
.ul-container a{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ul-container li{
    font-size: 1.1em;
    padding: 8px;
    border-radius: 7px;
}
.ul-container li:hover{
    background-color: rgba(217, 255, 0, 0.76);
    text-decoration: underline;
    transition: 0.5s;
}
.main-tittle{
    font-size: 62px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}
.tabela-precos{
    display: flex;
    justify-content: center;
    gap: 24px;
}