*{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
h1{
    text-align: center;
}
body{
    background-color: aqua;
    color: rgb(24, 70, 54);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.ul-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
    padding: 12px 0px;
    max-width: 60%;
    text-align: center;
}
.li-container{
    flex-basis: 300px;
    background-color: aliceblue;
    justify-items: center;
    border-radius: 5%;
    box-shadow: 0px 2px 8px rgba(122, 0, 0, 0.377);
    background-image: url(img/13354505-bela-manha-em-uma-floresta-gratis-foto.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.nome{
    font-size: 24px;
    padding-bottom: 16px;
}
.email{
    color: black;
    font-size: 1.2em;
}

.img-contato img{
    margin-top: 185px;
    width: 80px;
    border-radius: 50%;
}
.lixeira{
    display: flex;
    gap: 100px;
    padding: 14px 100px;
    color: black;
    border-radius: 0px 0px 18px 18px;
    margin-top: 12px;
}
.lixeira:hover{
    background-color: rgba(128, 128, 128, 0.322);
    transition: 0.2s;
}