*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url(imgs/imagens/bg-3.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    padding-top: 1px;
}
.txt-header{
    color: white;
    text-align: center;
    font-size: 1.1em;
    margin-top: 10%;
}
.txt-header h1{
    font-size: 3em;
    text-shadow: 1px 1px 2px black;
   margin-bottom: 24px;
}
.txt-header p{
    font-size: 1em;
    text-shadow: 1px 1px 2px black;
    background-color: rgba(0, 0, 0, 0.253);
    width: 390px;
    padding: 12px;
    margin: auto;
    border-bottom: 1px solid white;
}
nav ul{
    margin: 20px 50px;
    text-align: right;
}
nav li{
    display: inline-block;
    border: 1px solid white;
    margin-left: 16px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 12px;
    display: block;
    background-color: rgba(0, 0, 0, 0.253);
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
}
nav a:hover{
    background-color: rgba(0, 0, 0, 0.767);
    text-decoration: underline;
    transition: 0.5s;

}
body{
    background-color: rgb(168, 168, 168);
}
main{
    width: 80%;
    margin: auto;
}
section{
    padding: 12px;

}
article{
    background-color: white;
    margin-bottom: 38px;
    text-align: justify;
    padding: 16px;
}
article h1{
    background-color: #EDEDED;
    padding: 10px;
    border-bottom: 3px solid #d3d3d3;
    margin-bottom: 12px;
    font-size: 1.5em;
}
article p{
    line-height: 1.3em;
}
.btn{
    color: blue;
    font-weight: bold;
    padding: 12px;
    display: block;
    margin-top: 12px;
    margin-left: auto;
    width: fit-content;
    background-color: #d3d3d3;
    border-radius: 8px;
    
}
footer{
    background-color: #d3d3d3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px;
    letter-spacing: 1px;
    font-weight: bold;
}
