*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(imagens/bg-2.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h1{
    text-align: center;
    margin-top: 120px;
    font-size: 3.5em;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.548);
}
header{
    text-align: center;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.699);
    width: 420px;
    margin: 20px auto;
    padding: 12px;
    color: white;
    border-bottom: 2px solid white;

}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    width: 950px;
    margin: 45px auto;
    padding: 24px 12px;
    background-color: white;
}
.card h2{
    background-color: rgb(44, 44, 44);
    margin-top: -5px;
    padding: 8px;
    color: white;
    font-size: 1.3em;
}